transformers==4.17.0
torch==1.11.0
tqdm==4.49.0
sklearn==0.0
numpy==1.21.0
pandas==1.2.4
keras>=2.7.0rc0
textattack==0.3.4
tensorflow-text==2.7.3
stanza==1.3.0
transformers-interpret==0.5.2
sentence-transformers==1.0.4
